---

---

<section id="nav-bar">
  <div class="flex flex-row gap-32 items-end font-medium text-xl">
    <img src="/dwallLogo.png" alt="dwall Logo" class="w-[190px] h-[40px]" />
    <div class="text-primary">INICIO</div>
    <div class="text-black">NOSOTROS</div>
    <div class="text-black">COLECCIONES</div>
    <div class="text-black ml-auto">[ CONTACTO ]</div>
  </div>
</section>
