@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "dwall";
    default: true; /* set as default */
    prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --font-sans: "Schibsted Grotesk";
  
    --color-base-100: #F3F3F3;
    --color-base-conntent: #FFFFFF;
    --color-primary-content: #FFFFFF;
    --color-primary: #E14E39;
}

/* Transición suave para menú móvil */
#mobile-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
}


@layer components {
  .slide {
    @apply w-full h-full flex items-center justify-center text-black rounded-xl;
  }
}

/* Estilos para las flechas del Swiper */
swiper-container .swiper-button-next,
swiper-container .swiper-button-prev {
  color: white !important;
}

swiper-container .swiper-button-next::after,
swiper-container .swiper-button-prev::after {
  color: white !important;
  font-size: 24px !important;
}

swiper-container .swiper-button-next:hover,
swiper-container .swiper-button-prev:hover {
  color: #f3f4f6 !important;
}