---

---

<section
  id="about-title"
  class="max-w-screen-xl mx-auto py-8 md:py-12 px-4 md:px-8"
>
  <div class="text-center mb-8 md:mb-16">
    <h1 class="text-primary text-3xl md:text-5xl lg:text-7xl font-bold">
      ACERCA DE NOSOTROS
    </h1>
  </div>

  <div class="text-left text-black mb-8 md:mb-16">
    <p class="mb-4 md:mb-8 text-sm md:text-base lg:text-lg">
      DWALL ES UN PROYECTO CREADO POR DOS DISEÑADORES CON UNA VISIÓN CLARA:
    </p>
    <p class="font-bold text-base md:text-lg lg:text-xl">
      COMPLEMENTAR ESPACIOS A TRAVÉS DE OBJECTOS QUE ELEVEN EL ENTORNO.
    </p>
  </div>

  <div class="text-center text-black mb-8 md:mb-16">
    <p class="text-xl md:text-3xl lg:text-4xl font-bold">
      PARA NOSOTROS LOS DETALLES SI CUENTAN
    </p>
  </div>

  <div class="text-left md:text-end text-black mb-8 md:mb-16">
    <p class="mb-4 md:mb-8 text-sm md:text-base lg:text-lg leading-relaxed">
      NUESTRA MISIÓN ES <span class="font-bold">REINVENTAR LOS ESPACIOS</span> MEDIANTE
      PIEZAS QUE <span class="font-bold"
        >FUSIONAN ESTÉTICA Y FUNCIONALIDAD.</span
      > LA CALIDAD ES NUESTRO PILAR, Y CADA PIEZA ESTÁ CUIDADOSAMENTE ELABORADA PARA
      GARANTIZAR UN DISEÑO IMPECABLE, PRÁCTICO Y DURADERO.
    </p>
    <p class="text-sm md:text-base lg:text-lg leading-relaxed">
      TRABAJAMOS CON MADERAS CERTIFICADAS Y DE ORIGEN NACIONAL, APOSTANDO POR
      MATERIALES NOBLES QUE RESPETAN EL ENTORNO.
    </p>
  </div>

  <div class="text-center text-black mb-8 md:mb-16">
    <p class="text-lg md:text-xl lg:text-2xl font-bold leading-relaxed">
      CADA DISEÑO NACE DE UNA MISMA ESENCIA: CREAR OBJETOS CON ALMA, QUE
      TRANSFORMEN LO COTIDIANO EN ALGO EXTRAORDINARIO.
    </p>
  </div>
</section>
