---

---

<section id="about-title" class="max-w-screen-xl mx-auto py-12">
  <div class="text-center mb-16">
    <h1 class="text-primary text-7xl font-bold">ACERCA DE NOSOTROS</h1>
  </div>

  <div class="text-left text-black mb-16">
    <p class="mb-8">
      DWALL ES UN PROYECTO CREADO POR DOS <br /> DISEÑADORES CON UNA VISIÓN CLARA:
    </p>
    <p class="font-bold">
      COMPLEMENTAR ESPACIOS A TRAVÉS DE <br /> OBJECTOS QUE ELEVEN EL ENTORNO.
    </p>
  </div>

  <div class="text-center text-black mb-16">
    <p class="text-4xl font-bold">PARA NOSOTROS LOS DETALLES SI CUENTAN</p>
  </div>

  <div class="text-end text-black mb-16">
    <p class="mb-8">
      NUESTRA MISIÓN ES <span class="font-bold"
        >REINVENTAR LOS ESPACIOS
      </span>MEDIANTE PIEZAS <br /> QUE <span class="font-bold"
        >FUSIONAN ESTÉTICA Y FUNCIONALIDAD.</span
      > LA CALIDAD ES <br /> NUESTRO PILAR, Y CADA PIEZA ESTÁ CUIDADOSAMENTE ELABORADA
      <br />
      PARA GARANTIZAR UN DISEÑO IMPECABLE, PRÁCTICO Y DURADERO.
    </p>
    <p>
      TRABAJAMOS CON MADERAS CERTIFICADAS Y DE ORIGEN NACIONAL,<br />
      APOSTANDO POR MATERIALES NOBLES QUE RESPETAN EL ENTORNO.
    </p>
  </div>

  <div class="text-center text-black text-2xl font-bold">
    <p>
      CADA DISEÑO NACE DE UNA MISMA ESENCIA:<br /> CREAR OBJETOS CON ALMA, QUE TRANSFORMEN
      <br />
      LO COTIDIANO EN ALGO EXTRAORDINARIO.
    </p>
  </div>
</section>
