<section id="Colecciones">
  <div>
    <!-- Titulo -->
    <h1>Colecciones</h1>

    <!-- Colecciones -->
    <div class="flex flex-row">
      <div>Box Lamp</div>
      <div>Ensamble</div>
      <div>Bancos</div>
    </div>
  </div>
</section>
