<section id="SecondHero" class="max-w-7xl mx-auto h-[40dvh] px-4 md:px-8 my-16">
  <div class="flex justify-center items-center h-full p-4 text-black">
    <!-- Contenedor con 3 columnas solo en desktop -->
    <div
      class="grid grid-cols-1 lg:grid-cols-3 items-stretch w-full max-w-screen-xl h-full"
    >
      <!-- Texto izquierdo (arriba y alineado a la derecha) -->
      <div class="flex items-start lg:justify-start pb-4 lg:pr-4">
        <div class="flex flex-col text-lg">
          <!-- OBJETO alineado a la izquierda -->
          <p class="text-center md:text-left">
            CADA DISEÑO SURGE DE UNA MISMA ESENCIA, BUSCANDO FORMAS QUE NO SOLO
            SE ADAPTEN, SINO QUE TAMBIÉN TRANSFORMEN Y ELEVEN TUS ESPACIOS.
          </p>
        </div>
      </div>

      <!-- Imagen centrada vertical y horizontalmente -->
      <div class="flex items-center justify-center">
        <img
          src="/logo.svg"
          class="w-40 h-20 sm:w-64 sm:h-32 rounded-lg max-w-full h-auto object-contain"
        />
      </div>

      <!-- Texto derecho (abajo y alineado a la izquierda) -->
      <div
        class="flex items-center justify-center pt-4 md:items-end md:justify-end lg:pl-4"
      >
        <img
          src="/dwallLogoNegro.svg"
          class="w-40 h-8 sm:w-64 sm:h-16 rounded-lg max-w-full h-auto object-contain"
        />
      </div>
    </div>
  </div>
</section>
