---
// import function to register Swiper custom elements
import { register } from 'swiper/element/bundle';
// register Swiper custom elements
register();
---

<section class="w-screen h-dvh">
  <swiper-container
    class="mySwiper h-full w-full bg-neutral-400 items-center justify-center"
    navigation="true"
  >
    <swiper-slide class="slide"
      ><img
        src="/home/home_1.webp"
        class="w-full h-full object-cover"
      /></swiper-slide
    >
    <swiper-slide class="slide"
      ><img
        src="/home/home_2.webp"
        class="w-full h-full object-cover"
      /></swiper-slide
    >
    <swiper-slide class="slide"
      ><img
        src="/home/home_3.webp"
        class="w-full h-full object-cover"
      /></swiper-slide
    >
  </swiper-container>
</section>
