---
// import function to register Swiper custom elements
import { register } from 'swiper/element/bundle';
// register Swiper custom elements
register();
---

<section class="max-w-7xl mx-auto px-4 md:px-8 my-16">
  <swiper-container
    class="mySwiper h-full w-full bg-neutral-400 items-center justify-center rounded-lg"
    navigation="true"
    autoplay-delay="2500"
    style="--swiper-navigation-color: white; --swiper-navigation-size: 24px; --swiper-navigation-sides-offset: 25px;"
  >
    <swiper-slide class="slide"
      ><img
        src="/home/home_1.webp"
        class="w-full h-full object-cover"
      /></swiper-slide
    >
    <swiper-slide class="slide"
      ><img
        src="/home/home_2.webp"
        class="w-full h-full object-cover"
      /></swiper-slide
    >
    <swiper-slide class="slide"
      ><img
        src="/home/home_3.webp"
        class="w-full h-full object-cover"
      /></swiper-slide
    >
  </swiper-container>
</section>
